{% extends 'uniSistemasBundle::layout.html.twig' %}

{% block central %} 
    
    <h1>Nuestro sistema</h1>

     <div class="LineaFormulario centrado">           
           <img src="{{ asset('bundles/unisistemas/img/cpd.jpeg') }}" width="25%" heigth="25%"/>
    </div>
            
{% endblock %}
