{% extends 'uniSistemasBundle::layout.html.twig' %}

{% block central %} 
    <h1>Hardware</h1>
    
    <form id="selectCats" action="{{path('respBuscarHW')}}" method="POST">
            
            <div class="LineaFormulario">  </div>
            <div class="LineaFormulario">  </div>
            <div class="LineaFormulario"> 
                <p class="izquierda separarIzq15">Seleccione un Hardware de la lista y a continuación se mostrarán las maquinas virtuales correspondientes.</p>
            </div>
            <div class="LineaFormulario">  </div>
            <div class="LineaFormulario izquierda separarIzq15">      
                <label for="nombre" class="letraverde">Hardware: </label>                                    
                     <select name="nombre" onblur="submitform(this)" class="izquierda">                         
                     {% for entity in eHW %}
                        <option value="{{ entity.id }}">{{ entity.nombre }}</option>                        
                     {% endfor %}
                     </select>                                          
             </div>
             <input type="hidden" id="nomOculto" name="nomOculto" value=""/>
    </form>       
        
    {% endblock %}
